<h1 mat-dialog-title><span *ngIf="data.preTitle" [style.color]="data.preTitle.color"
    [style.font-weight]="data.preTitle.bold ? 'bold' : 'normal'">{{data.preTitle.text}}</span>{{data.title}}</h1>
<form onsubmit="return false">
  <div mat-dialog-content>
    <p>
      <span *ngFor="let line of data.body.split('\n')">{{line}}<br></span>
    </p>
    <mat-form-field *ngIf="data.type === 'prompt'">
      <mat-label>{{data.lable}}</mat-label>
      <input matInput [(ngModel)]="data.placeholder" name="value" cdkFocusInitial required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [ngSwitch]="data.type" align="end">
    <ng-container *ngSwitchCase="'confirm'">
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>YES</button>
      <button mat-button [mat-dialog-close]="false">NO</button>
    </ng-container>
    <button mat-button type="submit" *ngSwitchCase="'prompt'" [mat-dialog-close]="data.placeholder"
      [disabled]="data.placeholder?.length < 2">OK</button>
    <button mat-button *ngSwitchDefault mat-dialog-close="ok" cdkFocusInitial>OK</button>
  </div>
</form>