<h2>How do you want to continue?</h2>
<button mat-raised-button (click)="logIn(authService.getGoogleAuthProvider())" class="alwaysWhite">
  <img class="provider-icon" alt="" src="assets/img/google.svg">
  <span>Sign in with Google</span>
</button>
<div class="spacer"></div>
<button mat-raised-button (click)="logIn(authService.getTwitterAuthProvider())" class="alwaysWhite">
  <img class="provider-icon" alt="" src="assets/img/twitter-blue.svg">
  <span>Sign in with Twitter</span>
</button>
<div class="spacer"></div>
<button mat-raised-button (click)="logIn()" color="primary">
  <span>Continue Anonymously</span>
</button>
<p class="legal">
  By continuing you are agreeing to the
  <a target="blank"
    href="https://docs.google.com/document/d/e/2PACX-1vTAuaic9VNYRM_FOHFRwOzIxWYpSIh-UJhF47EjrIYFqhJu8KEkq_RzArgyjAutgYkl79hanj9JOl20/pub">
    terms of service</a>
  and
  <a target="blank"
    href="https://docs.google.com/document/d/e/2PACX-1vR50IbUzPhmLSWSmyHatg-LzuX6zkIHEo0dWNQ4IaRWjZMdsY8J8P080WCn3uhGTe5ffXQm8hQsEWeO/pub">
    privacy policy</a>.
</p>
