<h2>How do you want to continue?</h2>
<button mat-raised-button (click)="logIn(authService.getGoogleAuthProvider())" class="alwaysWhite">
  <img class="provider-icon" alt="" src="assets/img/google.svg">
  <span>Sign in with Google</span>
</button>
<div class="spacer"></div>
<button mat-raised-button (click)="logIn(authService.getTwitterAuthProvider())" class="alwaysWhite">
  <img class="provider-icon" alt="" src="assets/img/twitter-blue.svg">
  <span>Sign in with Twitter</span>
</button>
<div class="spacer"></div>
<button mat-raised-button (click)="logIn()" color="primary">
  <span>Continue Anonymously</span>
</button>
<p class="legal">
  By continuing you are agreeing to the
  <a target="blank"
    href="https://docs.google.com/document/d/e/2PACX-1vTSm5LEWQU3DrYICskZIDJMwlin34xfYl8BGSw5y6FPRlwx7llt2t8yPRsJUQ1RQ9a3C2dTBO9f5Hof/pub">
    terms of service</a>
  and
  <a target="blank"
    href="https://docs.google.com/document/d/e/2PACX-1vRlv-yOzN6jEaN03HyFDRURWSIb89O3a-OLYxNF9JBSq-rnDhDUxI5B-jTO_K7UagNTuyVf2a8Bi69z/pub">
    privacy policy</a>.
</p>
