button {
    width: 100%;
}
.withGoogle{
    background-color: white;
    color: black;
}
.provider-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    padding-right: 8px;;
}
.spacer{
    height: 16px;
}