.app-warper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.status-bar-fill {
  background-color: #1976d2;
  width: 100vw;
  height: env(safe-area-inset-top, 0px);
  z-index: 1000;
}
.container {
  margin-bottom: env(safe-area-inset-bottom, 0px);
  margin-left: env(safe-area-inset-left, 0px);
  margin-right: env(safe-area-inset-right, 0px);
  overflow: auto;
  flex: 1;
}
.account-photo {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.title {
  user-select: none;
  outline: none;
  padding: 4px 8px;
  margin: -4px -8px;
  border-radius: 4px;
  &[tabindex="0"]:focus:not(:active) {
    background-color: rgb(255, 255, 255, 0.12);
  }
}
.icon-button-warper {
  height: 24px;
  width: 24px;
  position: relative;
  margin-left: 24px;

  &.nav-icon {
    margin-right: 32px;
    margin-left: 0px;
  }

  button {
    position: absolute;
    top: -8px;
    left: -8px;
  }
}

@media only screen and (min-height: 500px) {
  .mat-toolbar-single-row.extended {
    margin-left: 0;
    height: 128px;
    padding-top: 16px;
    padding-bottom: 24px;
    .title {
      align-self: flex-end;
      font-size: 76px;
      line-height: 1em;
      @media only screen and (max-width: 600px) {
        font-size: calc(16vw - 20px);
      }
    }
    & > .icon-button-warper {
      align-self: flex-start;
    }
  }
}
