<div class="container" [style.--scroll-top]="scrollTop+'px'" [class.is-root]="isRoot">
  <mat-toolbar id="toolbar" role="heading" color="primary" [class.safari]="platform.SAFARI">
    <h1 matRipple [matRippleDisabled]="isRoot" matRippleColor="rgba(255, 255, 255, 0.12)" routerLink="/"
      [tabindex]="isRoot ? -1 : 0" [class.not-root]="!isRoot" (keyup.enter)="$event.target.click()">{{title}}</h1>
    <div class="buttons">
      <div *ngIf="!isRoot" class="icon-button-warper nav-icon">
        <button mat-icon-button [routerLink]="this.location.path().split('/').slice(0, -1).join('/')" aria-label="back"
          tabindex="1">
          <mat-icon>{{platform.IOS ? 'arrow_back_ios' : 'arrow_back'}}</mat-icon>
        </button>
      </div>
      <span></span>
      <div *ngIf="shareService.shareable | async" class="icon-button-warper">
        <button mat-icon-button (click)="shareService.share()" aria-label="Share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
      <div *ngIf="deferredInstallPrompt" class="icon-button-warper">
        <button mat-icon-button (click)="install()" aria-label="Add to Home Screen">
          <mat-icon>{{platform.ANDROID ? 'add_to_home_screen' : 'get_app'}}</mat-icon>
        </button>
      </div>
      <div class="icon-button-warper">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account">
          <img class="account-photo" *ngIf="(fireAuth.authState | async)?.photoURL as photoURL else account_circle"
            [src]="photoURL">
          <ng-template #account_circle>
            <mat-icon>account_circle</mat-icon>
          </ng-template>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!(providers$|async)?.includes('google.com')"
      (click)="authService.logIn(authService.getAuthProviderByID('google.com'))">
      <img class="mat-icon" aria-hidden="true" src="assets/img/google.svg">
      <span>Sign in with Google</span>
    </button>
    <button mat-menu-item *ngIf="!(providers$|async)?.includes('twitter.com')"
      (click)="authService.logIn(authService.getAuthProviderByID('twitter.com'))">
      <img class="mat-icon" aria-hidden="true" [src]="twitterIcon$ | async">
      <span>Sign in with Twitter</span>
    </button>
    <button mat-menu-item *ngIf="(fireAuth.authState | async) != null" (click)="showAccountSettings()">
      <mat-icon>settings</mat-icon>
      <span>Account Settings</span>
    </button>
    <button mat-menu-item *ngIf="(fireAuth.authState | async)?.isAnonymous === false" (click)="authService.logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
    <button mat-menu-item *ngIf="(fireAuth.authState | async)?.isAnonymous === false" (click)="authService.deleteUser()"
      class="warn-color">
      <mat-icon color="warn">delete_forever</mat-icon>
      <span>Delete Account</span>
    </button>
  </mat-menu>


  <router-outlet></router-outlet>
</div>
