@import "~@angular/material/theming";

.app-warper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.status-bar-fill {
  background-color: #1976d2;
  width: 100vw;
  height: env(safe-area-inset-top, 0px);
  z-index: 1000;
}
.container {
  margin-bottom: env(safe-area-inset-bottom, 0px);
  margin-left: env(safe-area-inset-left, 0px);
  margin-right: env(safe-area-inset-right, 0px);
  overflow: auto;
  flex: 1;
}
mat-toolbar.mat-toolbar-single-row {
  @media not screen and (prefers-color-scheme: dark) {
    @include mat-elevation(4);
  }
  z-index: 4;
  padding: 16px;
  height: fit-content;
  * {
    transition-property: font-size opacity margin-right width;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  .account-photo {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .title {
    user-select: none;
    outline: none;
    padding: 4px 8px;
    margin: -2px -8px;
    border-radius: 4px;
    line-height: 1em;
    &[tabindex="0"]:focus:not(:active) {
      background-color: rgb(255, 255, 255, 0.12);
    }
  }
  .icon-button-warper {
    height: 24px;
    width: 24px;
    position: relative;
    align-self: flex-start;
    margin-left: 24px;

    &.nav-icon {
      margin-left: 0px;
      margin-right: 32px;
      &.hide {
        width: 0;
        margin-right: 0px;
        opacity: 0;
      }
    }

    button {
      margin: -8px;
    }
  }

  &.extended .title {
    font-size: clamp(20px, min(calc(18vw - 22px), 15vh), 96px);
  }
}
