<div class="app-wraper">
  <div class="status-bar-fill" *ngIf="platform.IOS"></div>
  <mat-toolbar id="toolbar" role="heading" color="primary">
    <div *ngIf="this.location.path()" class="icon-button-warper nav-icon">
      <button mat-icon-button [routerLink]="this.location.path().split('/').slice(0, -1).join('/')" aria-label="back">
        <mat-icon>{{platform.IOS ? 'arrow_back_ios' : 'arrow_back'}}</mat-icon>
      </button>
    </div>
    <span class="title">{{title}}</span>
    <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button *ngIf="shareService.shareable | async" (click)="shareService.share()" aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>
    <div *ngIf="deferredInstallPrompt" class="icon-button-warper">
      <button mat-icon-button (click)="install()" aria-label="Download App">
        <mat-icon>get_app</mat-icon>
      </button>
    </div>
    <div class="icon-button-warper">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account">
        <img class="account-photo" *ngIf="(fireAuth.authState | async)?.photoURL as photoURL else account_circle" src="{{photoURL}}">
        <ng-template #account_circle><mat-icon>account_circle</mat-icon></ng-template>
      </button>
    </div>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!(fireAuth.authState | async)?.email" (click)="authService.logIn(authService.getGoogleAuthProvider())">
      <img class="google-icon" alt="" src="assets/img/google.svg">
      <span>Sign in with Google</span>
    </button>
    <button mat-menu-item *ngIf="(fireAuth.authState | async)?.email" (click)="authService.logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
    <button mat-menu-item *ngIf="(fireAuth.authState | async)?.email" (click)="authService.deleteUser()" class="warn-color">
      <mat-icon color="warn">delete_forever</mat-icon>
      <span>Delete Account</span>
    </button>
  </mat-menu>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>