@use "sass:math";
@use '~@angular/material' as mat;
@import "~@angular/material/theming";
$HEX_RATIO: math.sqrt(3) / 2;

div.canvas-warper {
  --header-height: 64px;
  position: fixed;
  bottom: 0;
  right: 0;
  top: var(--header-height);
  left: 0;
  display: flex;
  canvas {
    --height: calc(100vh - var(--header-height));
    --width: 100vw;
    --vmin: min(var(--height), var(--width));
    height: var(--vmin);
    width: var(--vmin);
    margin: auto;
  }
}

.player-list {
  position: relative;
  list-style-type: none;
  left: 16px;
  top: 16px;
  @media only screen and (min-width: 720px) {
    left: 24px;
    top: 24px;
  }
  width: fit-content;
  margin: 0;
  padding: 16px;
  border-radius: 8px;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #232323;
  }
  @media not screen and (prefers-color-scheme: dark) {
    background-color: white;
    @include mat.elevation(2);
  }

  display: table;
  li {
    display: table-row;
    span {
      display: table-cell;
      &.points {
        text-align: center;
        padding-right: 0.5em;
      }
      &.winner {
        font-weight: bold;
      }
    }
  }
}
