@use "sass:math";
$HEX_RATIO: math.sqrt(3) / 2;

div.canvas-warper {
    --header-height: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    top: var(--header-height);
    left: 0;
    display: flex;
    canvas {
        --height: calc(100vh - var(--header-height));
        --width: 100vw;
        --vmin: min(calc(var(--height) / #{$HEX_RATIO}), var(--width));
        height: calc(var(--vmin) * #{$HEX_RATIO});
        width: var(--vmin);
        width: var(--vmin);
        margin: auto;
    }
}
