
.notification-icon {
    position: absolute;
    right: 0px;
}
.title {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-weight: normal;
    user-select: none;
    -webkit-user-select: none;
    @media only screen and (max-width: 600px) {
        font-size: 18vw;
    }
}
.flex-wrapper {
    display: flex;
    justify-content: center;
}